<!DOCTYPE html>
<html>
   

    <body>

        <h2> Javascript Geolocation </h2>
        <p>Click the button to get your co-ordinates.</p>

        <button onclick="getlocation()"> Try it</button>
        <p id="demo"></p>

        <script>

            const x=document.getElementById("demo");

            function getlocation() {
                try{
                    navigator.geolocation.getCurrentPosition(showPosition);
                }
                catch {
                    x.innerHTML=err;
                }
            }

            function showPosition(position){
                x.innerHTML="Latitude:" + position.coords.latitude +
                "<br> Longitude=" + position.coords.longitude; 
            }

        </script>

    </body>
    </html>
